{% extends 'core/layout.html' %}
{% block title %}Contacto{% endblock  %}
{% block imagen-cabecera %} contact {% endblock %}
{% block titulo-cabecera %}
                    <div>
                        <h1 class="display-4 fw-bold">Contacto</h1>
                    </div>
                    <div>
                        <h3 class="fs-2">Asesoría personal</h3>
                    </div>
{% endblock %}
{% block content %}
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <p>¡Me encantaría colaborar contigo en tu próximo proyecto! Si estás interesado en trabajar juntos o simplemente quieres charlar sobre desarrollo web, no dudes en contactarme:</p>
                <br>
                <p><b>Email:</b> yobanichicunque@gmail.com</p>
                <p><b>Teléfono:</b> +57 3166769442</p>
                <p><b>Honorarios:</b> A convenir</p>
              </div>
            </div>
{% endblock %}
