{% extends 'core/layout.html' %}
{% block title %}Inicio{% endblock  %}
{% block imagen-cabecera %} home {% endblock %}
{% block titulo-cabecera %}
                    <div>
                        <h1 class="display-4 fw-bold">Yobani Chicunque</h1>
                    </div>
                    <div>
                        <h3 class="fs-2">Desarrollador Web</h3>
                    </div>
{% endblock %}



{% block content %}
<h1 class="fw-lighter fst-italic px-5">¡Hola! Soy Yobani Chicunque, un apasionado programador web con experiencia en el desarrollo de aplicaciones utilizando Django y Vue.js. Mi objetivo es crear soluciones robustas y elegantes que satisfagan las necesidades de los usuarios y superen sus expectativas. </h1>
{% endblock %}

