{% extends 'core/layout.html' %}
{% block title %}Inicio{% endblock  %}
{% block imagen-cabecera %} home {% endblock %}
{% block titulo-cabecera %}
                    <div>
                        <h1 class="display-4 fw-bold">Yobani Chicunque</h1>
                    </div>
                    <div>
                        <h3 class="fs-2">Desarrollador Web</h3>
                    </div>
{% endblock %}



{% block content %}
<h1 class="fw-lighter fst-italic px-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit temporibus distinctio expedita enim, libero pariatur aliquam ullam molestiae debitis eos nobis at ipsa eveniet cum officiis fuga incidunt eius ex? </h1>
{% endblock %}

