{% extends 'core/layout.html' %}
{% block title %}Inicio{% endblock  %}
{% block imagen-cabecera %} home {% endblock %}
{% block titulo-cabecera %}
                    <div>
                        <h1 class="display-4 fw-bold">Yobani Chicunque</h1>
                    </div>
                    <div>
                        <h3 class="fs-2">Desarrollador Web</h3>
                    </div>
{% endblock %}



{% block content %}
<h1 class="fw-lighter px-5">¡Bienvenido a mi portafolio!<br><br>Soy <b>Yobani Chicunque</b>, un <b>desarrollador web</b> apasionado por crear <b>experiencias digitales únicas y efectivas</b>. Explora mis proyectos y descubre cómo <b>transformo ideas en realidades a través del código</b>.<br><br>¡Gracias por visitar!</h1>
{% endblock %}

